:root {
    --light-bg: #f8f9fa;
    --text-dark: #343a40;
    --primary-color: #4caf50;
    --primary-dark: #45a049;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.7;
    padding: 30px 15px;
    background-color:var(--light-bg) ;
    color: var(--text-dark);
}

.recipe-finder-container {
    /* max-width: 1200px; */
    padding: 0px 15px;
    text-align: center;
    margin-inline: auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: -1px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    margin-inline: auto;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

#search-input {
    padding: 15px 20px;
    font-size: 1rem;
    flex-grow: 1;
    border: 1px solid #e9ecef;
    border-radius: 8px 0 0 8px;
    outline: none; 
    transition: border-color 0.3s ease;
}

#search-input:focus {
    border-color: var(--primary-color);
}


#search-button {
    padding: 13px 25px;
    font-size: 1rem;
    font-weight: 600;
    font-family: sans-serif;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius:0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 

#search-button:hover {
    background-color: var(--primary-dark);
}

.random-button {
    padding: 10px 25px;
    font-size: 0.95rem;
    font-weight: 600;
    font-family: sans-serif;
    background-color: #ff9800;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.random-button:hover {
    background-color: #f57c00;
    transform: translateY(-2px);
}

.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    margin-top: 30px;
    background-color: red;
}

.recipe-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.recipe-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* width: 100%; */
    transition: all 0.25s ease-in-out;
}
.recipe-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.recipe-item h3 {
    font-size: 1.15rem;
    font-weight: 600;
    padding: 15px;
    margin: 0;
}

.modal-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(3px);
    padding: 20px;
}

.modal-content {
   background-color: #fff;
   max-width: 800px;
   max-height: 90vh;
   overflow-y: auto;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
   border-radius: 8px;
   padding: 35px 40px;
   position: relative; 
}

.modal-content .modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--light-bg);
    border: 1px solid #e9ecef;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    color: #6c757d;
    transform: rotate(45deg);
    transition: all 0.2s ease;
}


.modal-content .modal-close-btn:hover {
    transform: rotate(135deg);
    color: var(--text-dark);
    background-color: #e2e6ea;
}

.modal-container.hidden {
    opacity: 0;
    visibility: hidden;
}

/* .modal-content {
    background-color: #fff;
    max-width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 35px 40px;
    position: relative;
} */

#recipe-details-content h2 {
    font-size: 1,8rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primary-color);
}

#recipe-details-content img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* style not taking effect */
#recipe-details-content h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 8px;
}

#recipe-details-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 25px;
}

#recipe-details-content ul li {
    padding: 8px 0px;
    border-bottom: 1px dashed #e9ecef;
    font-size: 0.95rem;
}

#recipe-details-content p {
    line-height: 1.8rem;
    font-size: 1rem;
}

#recipe-details-content a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

#recipe-detals-content a:hover {
    color: var(--primary-dark);
    text-decoration: underline;
}

#recipe-details-content .recipe-site {
    margin-top: 15px;
    margin-top: 8px;
}

.message {
   margin: 25px auto; 
   padding: 10px;
   max-width: 600px;
   font-size: 1rem;
   border-radius: 8px;
}

.message.error {
   color: #dc3545;
   background-color: #f8d7da;
   border: 1px solid #f5c6cb;
} 

.message.info,
.meassage.loading {
    color: #17a2b8;
    background-color: #d1ecf1;
    border: 1px solid #bee5eb;
}